################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ActiveDirManager.Tests/obj/Debug
/ActiveDirManager.Entities/obj/Debug
/ActiveDirManager.Business/obj/Debug
/ActiveDirManager.Repository/obj/Debug
/ActiveDirManager.Repository/ActiveDirManager.Repository.csproj.user
*.user
/ActiveDirectoryManager.API/bin
/ActiveDirectoryManager.API/obj/Debug
*.pdb
/ActiveDirManager.Repository/bin/Debug
/packages
/ActiveDirManager.Business/bin/Debug
/ActiveDirManager.Entities/bin/Debug
/ActiveDirManager.Tests/bin/Debug
/ActiveDirectoryManager.API/obj/Release
/ActiveDirManager.Business/bin/Release
/ActiveDirManager.Business/obj/Release
/ActiveDirManager.Core/bin/Debug
/ActiveDirManager.Core/obj
/ActiveDirManager.Entities/obj/Release
/ActiveDirManager.Repository/obj/Release
/ActiveDirManager.Tests/obj/Release
/ActiveDirManager.API/bin
/ActiveDirManager.API/App_Data
/ActiveDirManager.API/obj/Debug
/ActiveDirManager.Web/bin
/ActiveDirManager.Web/obj/Debug
